Estructuración de un conjunto mínimo de datos basicos de la historia clinica electrónica para usos secundarios.
Usos secundarios: 
* Recuperacion de los datos del paciente en el momento de la atención médica (estructuracion predeterminada) para la toma de desiciones clínicas del medico tratante o auditor. 
* Recuperación de los datos del paciente ( estructuracion post hoc) de acuerdo a un interes específico del médico tratante o paciente. 
* Impacto en los procesos de atención: productividad, costos, seguridad del paciente, calidad en la atención u otros impactos en salud.
*Para propósitos de investigación: construccion, prueba, calibracion de modelos de diagnostico y pronóstico clínico de enfermedades comunes o rasgos complejos.

Conjunto mínimo de datos basicos de la historia clínica electrónica para la construcción, prueba y calibración de modelos diagnóstico y pronóstico de enfermedades cardiovasculares.

##DEMOGRÁFICAS
Edad: años

Sexo: :(Masculino=1/Femenino=0)

Régimen de seguridad social: contributivo:(si=1/no=0), subsidiado: (si=1/no=0)

Estrato Socio económico: 0-5

Nivel de escolaridad: primaria, secundaria, técnico, universitario

Estado civil: casado, soltero, viudo, separado, otro.

##COMPORTAMENTALES SUBJETIVOS
Hábitos alimentarios: ingesta de verduras y frutas, cocina sus alimentos: (si=1/no=0), ingesta de alimentos ultra procesados: (si=1/no=0).

Hábitos del estilo de vida: ejercicio diario o actividad física, sedentarismo, horas de televisión

Hábitos tóxicos: fumador actual: (si=1/no=0), numero de cigarrillos por día, actual consumo de alcohol: (si=1/no=0)

Síntomas: dolor torácico: tipo de dolor torácico: típico de angina: (si=1/no=0), no típico de angina: (si=1/no=0), no dolor anginoso, asintomático: (si=1/no=0). 
Angina inducida por ejercicio: (si=1/no=0)

##ANTECEDENTES DE LA HISTORIA CLÍNICA 
Antecedentes de hipertensión arterial : (si=1/no=0)

Antecedentes de diabetes mellitus tipo 2: (si=1/no=0)

Antecedentes de ECV o STROKE: (si=1/no=0)

Antecedentes de Obesidad: (si=1/no=0)

Antecedentes de cáncer : (si=1/no=0)

Antecedentes farmacológicos

Toma medicamentos para la HTA : (si=1/no=0)

Toma medicamentos para Diabetes: (si=1/no=0)

##EXAMEN FÍSICO ACTUAL O EN UN RANGO ESPECIFICO 
Peso: kilogramos (kg)

Altura: metros(m)

Tensión arterial sistólica: milímetros de mercurio(mmHg) 

Tensión arterial diastólica: milímetros de mercurio (mmHg)

Circunferencia abdominal: cm

Frecuencia cardiaca: latidos por minuto (lpm)

Frecuencia respiratoria: respiraciones por minuto (rp)

##LABORATORIOS ACTUALES O EN UN RANGO ESPECIFICO
Glicemia en ayunas: mg/dL

Hemoglobina glicosilada: %

Perfil lipídico: HDL:mg/dL, LDL:mg/dL, Colesterol Total:mg/dL

Creatinina serica: mg/dL

Uroanálisis: microalbunimuria: (si=1/no=0)

Creatinina fosfoquinasa CPK: (si=1/no=0)
Troponinas: Positivas (si/no)

Plaquetas: células/mm3

Hemoglobina: mg/dL

Leucocitos: células/mm3

Sodio: mmol/L

##IMAGENOLÓGICOS 
Radiografía de tórax: Índice cardiotorácico, 

Ecocardiograma: fracción de eyección: %, 

Electrocardiograma: elevación del segmento st:(si=1/no=0),  en el ejercicio:(si=1/no=0), arritmia cardiaca:(si=1/no=0), frecuencia cardiaca máxima:  lpm , probable hipertrofia ventricular:(si=1/no=0).

Cateterismo cardiaco: número de vasos principales (0-3)

##DESENLACE POR PREDECIR
Muerte:(si=1/no=0) (Fecha de defunción: D/M/A)

diagnóstico de enfermedad coronaria :(si=1/no=0), fecha de diagnóstico: D/M/A)

IAM:(si=1/no=0)

STROKE:(si=1/no=0)

Cateterismo cardiaco:(si=1/no=0)

Cirugía cardiaca :(si=1/no=0)

In [ ]:
#---------we read the dataset in csv format from the url in github-----------------
Framinghan <- read.csv(url("https://raw.githubusercontent.com/lbermudezn/framinghanstudy/main/CHD_preprocessed.csv"),header=T,sep=",",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator

In [3]:
#---------we read the dataset in csv format from the url in github-----------------
Heart_failure <- read.csv(url("https://raw.githubusercontent.com/lbermudezgenexia/datasetexercise/main/heart_failure_clinical_records_dataset.csv"),header=T,sep=",",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(Heart_failure)
#list the variables and features
str(Heart_failure)
# see the head of table
head(Heart_failure)
# see the tail of table
tail(Heart_failure)

The following objects are masked from Heart_failure (pos = 3):

    age, anaemia, creatinine_phosphokinase, DEATH_EVENT, diabetes,
    ejection_fraction, high_blood_pressure, platelets,
    serum_creatinine, serum_sodium, sex, smoking, time

'data.frame':	299 obs. of  13 variables:
 $ age                     : chr  "75" "55" "65" "50" ...
 $ anaemia                 : int  0 0 0 1 1 1 1 1 0 1 ...
 $ creatinine_phosphokinase: int  582 7861 146 111 160 47 246 315 157 123 ...
 $ diabetes                : int  0 0 0 0 1 0 0 1 0 0 ...
 $ ejection_fraction       : int  20 38 20 20 20 40 15 60 65 35 ...
 $ high_blood_pressure     : int  1 0 0 0 0 1 0 0 0 1 ...
 $ platelets               : chr  "265000" "263358.03" "162000" "210000" ...
 $ serum_creatinine        : chr  "1.9" "1.1" "1.3" "1.9" ...
 $ serum_sodium            : int  130 136 129 137 116 132 137 131 138 133 ...
 $ sex                     : int  1 1 1 1 0 1 1 1 0 1 ...
 $ smoking                 : int  0 0 1 0 0 1 0 1 0 1 ...
 $ time                    : int  4 6 7 7 8 8 10 10 10 10 ...
 $ DEATH_EVENT             : int  1 1 1 1 1 1 1 1 1 1 ...

  age anaemia creatinine_phosphokinase diabetes ejection_fraction
1 75  0        582                     0        20
2 55  0       7861                     0        38
3 65  0        146                     0        20
4 50  1        111                     0        20
5 65  1        160                     1        20
6 90  1         47                     0        40
  high_blood_pressure platelets serum_creatinine serum_sodium sex smoking time
1 1                   265000    1.9              130          1   0       4
2 0                   263358.03 1.1              136          1   0       6
3 0                   162000    1.3              129          1   1       7
4 0                   210000    1.9              137          1   0       7
5 0                   327000    2.7              116          0   0       8
6 1                   204000    2.1              132          1   1       8
  DEATH_EVENT
1 1
2 1
3 1
4 1
5 1
6 1

    age anaemia creatinine_phosphokinase diabetes ejection_fraction
294 63  1        103                     1        35
295 62  0         61                     1        38
296 55  0       1820                     0        38
297 45  0       2060                     1        60
298 45  0       2413                     0        38
299 50  0        196                     0        45
    high_blood_pressure platelets serum_creatinine serum_sodium sex smoking
294 0                   179000    0.9              136          1   1
295 1                   155000    1.1              143          1   1
296 0                   270000    1.2              139          0   0
297 0                   742000    0.8              138          0   0
298 0                   140000    1.4              140          1   1
299 0                   395000    1.6              136          1   1
    time DEATH_EVENT
294 270  0
295 270  0
296 271  0
297 278  0
298 280  0
299 285  0

In [6]:
#---------we read the dataset in csv format from the url in github-----------------
cardiovascular_risk <- read.csv(url("https://raw.githubusercontent.com/lbermudezgenexia/datasetexercise/main/cardiovascular_diseases_dv3.csv"),header=T,sep=";",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(cardiovascular_risk)
#list the variables and features
str(cardiovascular_risk)
# see the head of table
head(cardiovascular_risk)
# see the tail of table
tail(cardiovascular_risk)

'data.frame':	68783 obs. of  12 variables:
 $ AGE              : int  50 55 52 48 48 60 61 62 48 54 ...
 $ GENDER           : int  2 1 1 2 1 1 1 2 1 1 ...
 $ HEIGHT           : int  168 156 165 169 156 151 157 178 158 164 ...
 $ WEIGHT           : int  62 85 64 82 56 67 93 95 71 68 ...
 $ AP_HIGH          : int  110 140 130 150 100 120 130 130 110 110 ...
 $ AP_LOW           : int  80 90 70 100 60 80 80 90 70 60 ...
 $ CHOLESTEROL      : int  1 3 3 1 1 2 3 3 1 1 ...
 $ GLUCOSE          : int  1 1 1 1 1 2 1 3 1 1 ...
 $ SMOKE            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ALCOHOL          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ PHYSICAL_ACTIVITY: int  1 1 0 1 0 0 1 1 1 0 ...
 $ CARDIO_DISEASE   : int  0 1 1 1 0 0 0 1 0 0 ...

  AGE GENDER HEIGHT WEIGHT AP_HIGH AP_LOW CHOLESTEROL GLUCOSE SMOKE ALCOHOL
1 50  2      168    62     110      80    1           1       0     0
2 55  1      156    85     140      90    3           1       0     0
3 52  1      165    64     130      70    3           1       0     0
4 48  2      169    82     150     100    1           1       0     0
5 48  1      156    56     100      60    1           1       0     0
6 60  1      151    67     120      80    2           2       0     0
  PHYSICAL_ACTIVITY CARDIO_DISEASE
1 1                 0
2 1                 1
3 0                 1
4 1                 1
5 0                 0
6 0                 0

      AGE GENDER HEIGHT WEIGHT AP_HIGH AP_LOW CHOLESTEROL GLUCOSE SMOKE ALCOHOL
68778 58  1      165     80    150     80     1           1       0     0
68779 53  2      168     76    120     80     1           1       1     0
68780 62  1      158    126    140     90     2           2       0     0
68781 52  2      183    105    180     90     3           1       0     1
68782 61  1      163     72    135     80     1           2       0     0
68783 56  1      170     72    120     80     2           1       0     0
      PHYSICAL_ACTIVITY CARDIO_DISEASE
68778 1                 1
68779 1                 0
68780 1                 1
68781 0                 1
68782 0                 1
68783 1                 0

In [4]:
#---------we read the dataset in csv format from the url in github-----------------
cardiovascular <- read.csv(url("https://storage.googleapis.com/kagglesdsdata/datasets/552987/1007241/cardiovascular.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210514%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210514T055124Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=31f8f6e1c0a934bd33c6aca0a51b63d1ad9a72c6be128a552cd02434345275e2e90c7781303517aec0c8a3f7a7d6fd6b5478db63d7a3dbd7a563374844721623a3b2cea16406d51bb20ac402504c037ca8d67ac2ac98c44a1a963b02942daadc8f1210c43e61cc13081f30f989f09b430b38bfcc17ae0adcb0c1b00e8b72f2a906caf080b18e53866986d56be265c198e6c4645630f936ba00e2b937d742b79f1bc7656f74c490bfb4031327f5bd92045cdf83821e07649c9ee3a272c5a986c9fbf317e5995ebc1ea9c14f8db7081a0be346a09f98989404dd0a71a68dccf810da8600d00a891cd3785170906609988d6b274113fb64cd283ec3e2980b32a3b1"),header=T,sep=";",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(cardiovascular)
#list the variables and features
str(cardiovascular)
# see the head of table
head(cardiovascular)
# see the tail of table
tail(cardiovascular)

The following object is masked from Heart_failure (pos = 3):

    age


The following object is masked from Heart_failure (pos = 4):

    age

'data.frame':	462 obs. of  11 variables:
 $ ind      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ sbp      : int  160 144 118 170 134 132 142 114 114 132 ...
 $ tobacco  : chr  "12.00" "0.01" "0.08" "7.50" ...
 $ ldl      : chr  "5.73" "4.41" "3.48" "6.41" ...
 $ adiposity: chr  "23.11" "28.61" "32.28" "38.03" ...
 $ famhist  : chr  "Present" "Absent" "Present" "Present" ...
 $ typea    : int  49 55 52 51 60 62 59 62 49 69 ...
 $ obesity  : chr  "25.30" "28.87" "29.14" "31.99" ...
 $ alcohol  : chr  "97.20" "2.06" "3.81" "24.26" ...
 $ age      : int  52 63 46 58 49 45 38 58 29 53 ...
 $ chd      : int  1 1 0 1 1 0 0 1 0 1 ...

  ind sbp tobacco ldl  adiposity famhist typea obesity alcohol age chd
1 1   160 12.00   5.73 23.11     Present 49    25.30   97.20   52  1
2 2   144 0.01    4.41 28.61     Absent  55    28.87   2.06    63  1
3 3   118 0.08    3.48 32.28     Present 52    29.14   3.81    46  0
4 4   170 7.50    6.41 38.03     Present 51    31.99   24.26   58  1
5 5   134 13.60   3.50 27.78     Present 60    25.99   57.34   49  1
6 6   132 6.20    6.47 36.21     Present 62    30.77   14.14   45  0

    ind sbp tobacco ldl   adiposity famhist typea obesity alcohol age chd
457 458 170 0.40    4.11  42.06     Present 56    33.10   2.06    57  0
458 459 214 0.40    5.98  31.72     Absent  64    28.45   0.00    58  0
459 460 182 4.20    4.41  32.10     Absent  52    28.61   18.72   52  1
460 461 108 3.00    1.59  15.23     Absent  40    20.09   26.64   55  0
461 462 118 5.40    11.61 30.79     Absent  64    27.35   23.97   40  0
462 463 132 0.00    4.82  33.41     Present 62    14.70   0.00    46  1

In [8]:

#---------we read the dataset in csv format from the url in github-----------------
Heart_Disease_dataset  <- read.csv(url("https://raw.githubusercontent.com/lbermudezgenexia/datasetexercise/main/heart_statlog_cleveland_hungary_final.csv"),header=T,sep=",",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(Heart_Disease_dataset )
#list the variables and features
str(Heart_Disease_dataset )
# see the head of table
head(Heart_Disease_dataset )
# see the tail of table
tail(Heart_Disease_dataset )

The following object is masked from cardiovascular:

    age


The following objects are masked from Heart_failure (pos = 7):

    age, sex


The following objects are masked from Heart_failure (pos = 8):

    age, sex

'data.frame':	1190 obs. of  12 variables:
 $ age                : int  40 49 37 48 54 39 45 54 37 48 ...
 $ sex                : int  1 0 1 0 1 1 0 1 1 0 ...
 $ chest.pain.type    : int  2 3 2 4 3 3 2 2 4 2 ...
 $ resting.bp.s       : int  140 160 130 138 150 120 130 110 140 120 ...
 $ cholesterol        : int  289 180 283 214 195 339 237 208 207 284 ...
 $ fasting.blood.sugar: int  0 0 0 0 0 0 0 0 0 0 ...
 $ resting.ecg        : int  0 0 1 0 0 0 0 0 0 0 ...
 $ max.heart.rate     : int  172 156 98 108 122 170 170 142 130 120 ...
 $ exercise.angina    : int  0 0 0 1 0 0 0 0 1 0 ...
 $ oldpeak            : chr  "0.0" "1.0" "0.0" "1.5" ...
 $ ST.slope           : int  1 2 1 2 1 1 1 1 2 1 ...
 $ target             : int  0 1 0 1 0 0 0 0 1 0 ...

  age sex chest.pain.type resting.bp.s cholesterol fasting.blood.sugar
1 40  1   2               140          289         0
2 49  0   3               160          180         0
3 37  1   2               130          283         0
4 48  0   4               138          214         0
5 54  1   3               150          195         0
6 39  1   3               120          339         0
  resting.ecg max.heart.rate exercise.angina oldpeak ST.slope target
1 0           172            0               0.0     1        0
2 0           156            0               1.0     2        1
3 1            98            0               0.0     1        0
4 0           108            1               1.5     2        1
5 0           122            0               0.0     1        0
6 0           170            0               0.0     1        0

     age sex chest.pain.type resting.bp.s cholesterol fasting.blood.sugar
1185 57  0   4               140          241         0
1186 45  1   1               110          264         0
1187 68  1   4               144          193         1
1188 57  1   4               130          131         0
1189 57  0   2               130          236         0
1190 38  1   3               138          175         0
     resting.ecg max.heart.rate exercise.angina oldpeak ST.slope target
1185 0           123            1               0.2     2        1
1186 0           132            0               1.2     2        1
1187 0           141            0               3.4     2        1
1188 0           115            1               1.2     2        1
1189 2           174            0               0       2        1
1190 0           173            0               0       1        0

In [9]:

#---------we read the dataset in csv format from the url in github-----------------
Heart_attack  <- read.csv(url("https://raw.githubusercontent.com/lbermudezgenexia/datasetexercise/main/data_CVD.csv"),header=T,sep=",",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(Heart_attack  )
#list the variables and features
str(Heart_attack  )
# see the head of table
head(Heart_attack  )
# see the tail of table
tail(Heart_attack  )

The following objects are masked from Heart_Disease_dataset (pos = 3):

    age, oldpeak, sex, target


The following object is masked from cardiovascular:

    age


The following objects are masked from Heart_failure (pos = 8):

    age, sex


The following objects are masked from Heart_failure (pos = 9):

    age, sex

'data.frame':	270 obs. of  14 variables:
 $ age     : int  70 67 57 64 74 65 56 59 60 63 ...
 $ sex     : int  1 0 1 1 0 1 1 1 1 0 ...
 $ cp      : int  4 3 2 4 2 4 3 4 4 4 ...
 $ trestbps: int  130 115 124 128 120 120 130 110 140 150 ...
 $ chol    : int  322 564 261 263 269 177 256 239 293 407 ...
 $ fbs     : int  0 0 0 0 0 0 1 0 0 0 ...
 $ restecg : int  2 2 0 0 2 0 2 2 2 2 ...
 $ thalach : int  109 160 141 105 121 140 142 142 170 154 ...
 $ exang   : int  0 0 0 1 1 0 1 1 0 0 ...
 $ oldpeak : chr  "2.4" "1.6" "0.3" "0.2" ...
 $ slope   : int  2 2 1 2 1 1 2 2 2 2 ...
 $ ca      : int  3 0 0 1 1 0 1 1 2 3 ...
 $ thal    : int  3 7 7 7 3 7 6 7 7 7 ...
 $ target  : int  2 1 2 1 1 1 2 2 2 2 ...

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 70  1   4  130      322  0   2       109     0     2.4     2     3  3
2 67  0   3  115      564  0   2       160     0     1.6     2     0  7
3 57  1   2  124      261  0   0       141     0     0.3     1     0  7
4 64  1   4  128      263  0   0       105     1     0.2     2     1  7
5 74  0   2  120      269  0   2       121     1     0.2     1     1  3
6 65  1   4  120      177  0   0       140     0     0.4     1     0  7
  target
1 2
2 1
3 2
4 1
5 1
6 1

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
265 48  1   2  110      229  0   0       168     0     1       3     0  7
266 52  1   3  172      199  1   0       162     0     0.5     1     0  7
267 44  1   2  120      263  0   0       173     0     0       1     0  7
268 56  0   2  140      294  0   2       153     0     1.3     2     0  3
269 57  1   4  140      192  0   0       148     0     0.4     2     0  6
270 67  1   4  160      286  0   2       108     1     1.5     2     3  3
    target
265 2
266 1
267 1
268 1
269 1
270 2

In [10]:
#---------we read the dataset in csv format from the url in github-----------------
Heart <- read.csv(url("https://raw.githubusercontent.com/lbermudezgenexia/datasetexercise/main/heart.csv"),header=T,sep=",",dec=",",encoding="utf-8")
# Manually check if the data has been loaded correctly, with the appropriate separator
attach(Heart)
#list the variables and features
str(Heart)
# see the head of table
head(Heart)
# see the tail of table
tail(Heart)

The following objects are masked from Heart_attack:

    age, ca, chol, cp, exang, fbs, oldpeak, restecg, sex, slope,
    target, thal, thalach, trestbps


The following objects are masked from Heart_Disease_dataset (pos = 4):

    age, oldpeak, sex, target


The following object is masked from cardiovascular:

    age


The following objects are masked from Heart_failure (pos = 9):

    age, sex


The following objects are masked from Heart_failure (pos = 10):

    age, sex

'data.frame':	303 obs. of  14 variables:
 $ age     : int  63 37 41 56 57 57 56 44 52 57 ...
 $ sex     : int  1 1 0 1 0 1 0 1 1 1 ...
 $ cp      : int  3 2 1 1 0 0 1 1 2 2 ...
 $ trestbps: int  145 130 130 120 120 140 140 120 172 150 ...
 $ chol    : int  233 250 204 236 354 192 294 263 199 168 ...
 $ fbs     : int  1 0 0 0 0 0 0 0 1 0 ...
 $ restecg : int  0 1 0 1 1 1 0 1 1 1 ...
 $ thalach : int  150 187 172 178 163 148 153 173 162 174 ...
 $ exang   : int  0 0 0 0 1 0 0 0 0 0 ...
 $ oldpeak : chr  "2.3" "3.5" "1.4" "0.8" ...
 $ slope   : int  0 0 2 2 2 1 1 2 2 2 ...
 $ ca      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ thal    : int  1 2 2 2 2 1 2 3 3 2 ...
 $ target  : int  1 1 1 1 1 1 1 1 1 1 ...

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
298 59  1   0  164      176  1   0        90     0     1       1     2  1
299 57  0   0  140      241  0   1       123     1     0.2     1     0  3
300 45  1   3  110      264  0   1       132     0     1.2     1     0  3
301 68  1   0  144      193  1   1       141     0     3.4     1     2  3
302 57  1   0  130      131  0   1       115     1     1.2     1     1  3
303 57  0   1  130      236  0   0       174     0     0       1     1  2
    target
298 0
299 0
300 0
301 0
302 0
303 0